
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Asap');

html {
  /*-- Main font sizes --*/
  --title-size:      44px; /* Modified */
  --body-size:       1.2rem; /* Modified */
  --code-size:       12px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     rgba(0, 0, 0, 0.75); /* Modified */
  --header-color:    rgba(0, 0, 0, 0.75); /* Modified */
  --body-color:      rgba(0, 0, 0, 0.8);  /* Modifeid */
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Roboto, sans-serif;
  --mono-font:       Roboto Mono, monoRoboto;
  --body-font:       Asap, sans-serif;
  --navbar-font:     Roboto, sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       21px;
  --text-color:       rgba(255, 255, 255, 0.9);
  --text-size:        19px;
  --hover-color:      white;
  --bkgd-color:       #004156; /* modified, from https://tilda.cc/colors/ */
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #0F2E3D; 
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */

h1 a, h2 a, h3 a, h3 a code, h4 a, h5 a { 
  color: #85144b;
}

h3:first-of-type {
  margin-top: 0rem !important;
}

h3 {
  margin-top: 1rem !important;
}

hr {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

code {
  font-family: Roboto Mono;
  color: rgba(0, 0, 0, 0.8);
}

p > code {
  font-size: 1.1rem;
}

p > a {
  color: #004156;
}

.distill-site-nav {
  font-weight: 500;
}